body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #2e61d9;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

my-section {
  background-color: #747572;
  padding: 20px;
}

h1, h2, h3 {
    font-weight: bold;
    margin-top: 30px;
}

p {
    margin-bottom: 10px;
}

ul {
    margin-left: 20px;
}

img {
    max-width: 100%;
    height: auto;
